<div class="centered-content">
    <div class="search-wrapper">
      <div class="filter-div">
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input id="quantity" matInput
          [(ngModel)]="accommodationFilter.location">
        </mat-form-field>
        <mat-form-field color="warn" appearance="outline">
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="picker"
          (dateInput)="addEventStart('input', $any($event))" (dateChange)="addEventStart('change', $any($event))">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>  
        <mat-form-field color="warn" appearance="outline">
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="picker"
          (dateInput)="addEventEnd('input', $any($event))" (dateChange)="addEventEnd('change', $any($event))">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>   
        <mat-form-field appearance="outline">
          <mat-label>Number of guests</mat-label>
          <input type="number" id="quantity"
            min="1"
            aria-label="Number"
            matInput
            [(ngModel)]="accommodationFilter.guests">
        </mat-form-field>         
      </div>
      <input type="submit" value="Search" class="search-button" [disabled]="!accommodationFilter.guests" (click)="getFilteredAccommodations()">
    </div>

    <div class="cards">
      <mat-card *ngFor="let accommodation of accommodations" class="accommodation-card">
        <mat-card-title class="accommodation-title">
          {{accommodation.name}}
          <!-- <div class="tag">
            <mat-icon fontIcon="euro_symbol" class="icon"></mat-icon>
            <span>{{accommodation.name}}</span>
          </div> -->
        </mat-card-title>
        <mat-card-subtitle class="accommodation-subtitle">
          {{accommodation.minimalAllowedGuests}} - {{accommodation.maximalAllowedGuests}} guests
        </mat-card-subtitle>
        <mat-card-content>
          <!-- <p class="flight-subtitle"><mat-icon fontIcon="airline_seat_recline_extra" class="icon"></mat-icon> {{flight.availableSeatsNumber}}</p> -->
          <div *ngIf="totalPassengers"> 
            Regular price {{accommodation.price.regularPrice}} € <br/>
            Temporary price {{accommodation.price.temporaryPrice}} €<br/>
            Regular price for {{totalPassengers}} guests: {{totalPassengers*accommodation.price.regularPrice}} € <br/>
            Temporary price for {{totalPassengers}} guests: {{totalPassengers*accommodation.price.temporaryPrice}} €<br/>
            Type of payment: {{accommodation.typeOfPayment}}<br/>
          </div>
          <div class="tag" *ngIf="accommodation.offers.wifi">
            <mat-icon fontIcon="network_wifi" class="icon"></mat-icon>
            <span> wifi </span>
          </div>
          <div class="tag" *ngIf="accommodation.offers.parking">
            <mat-icon fontIcon="network_wifi" class="icon"></mat-icon>
            <span> parking </span>
          </div>
          <div class="tag" *ngIf="accommodation.offers.kitchen">
            <mat-icon fontIcon="network_wifi" class="icon"></mat-icon>
            <span> kitchen </span>
          </div>
          <div class="tag" *ngIf="accommodation.offers.airConditioner">
            <mat-icon fontIcon="network_wifi" class="icon"></mat-icon>
            <span> air conditioner </span>
          </div>
          <div class="tag" *ngIf="accommodation.offers.petsAllowed">
            <mat-icon fontIcon="network_wifi" class="icon"></mat-icon>
            <span> pets allowed </span>
          </div>
          <div class="tag" *ngIf="accommodation.price.regularPrice">
            <mat-icon fontIcon="network_wifi" class="icon"></mat-icon>
            <span> {{accommodation.price.regularPrice}}</span>
          </div>
        </mat-card-content>
        <!-- <mat-card-footer><hr><button class="check-out-button">See details</button></mat-card-footer> -->
      </mat-card>
      <div *ngIf="!accommodations.length" class="no-flights">
        No accommodations found!
      </div>
    </div>
    <div class="filters">
      <mat-form-field appearance="outline" 
      class="small-num-inp">
        <mat-label>min price</mat-label>
        <input type="number" id="quantity"
          min="1"
          aria-label="Number"
          matInput
          [(ngModel)]="filter.minPrice"
          (ngModelChange)="sideFilterChanged()">
      </mat-form-field>  
      <mat-form-field appearance="outline" class="small-num-inp">
        <mat-label>max price</mat-label>
        <input type="number" id="quantity"
          min="1"
          aria-label="Number"
          matInput
          [(ngModel)]="filter.maxPrice"
          (ngModelChange)="sideFilterChanged()">
      </mat-form-field>     
          <mat-checkbox class="example-margin" [(ngModel)]="filter.host" (ngModelChange)="sideFilterChanged()">featured host</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="offer.wifi" (ngModelChange)="sideFilterChanged()"> wifi</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="offer.parking" (ngModelChange)="sideFilterChanged()"> parking</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="offer.kitchen" (ngModelChange)="sideFilterChanged()"> kitchen</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="offer.airConditioner" (ngModelChange)="sideFilterChanged()"> airConditioner</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="offer.petsAllowed" (ngModelChange)="sideFilterChanged()"> petsAllowed</mat-checkbox>
    </div>
  </div>