<div class="container">
    <div class="logo-container">
       <!--<div class="item-container"><a href="#"><mat-icon style=" font-size: 35px;">landscape</mat-icon><i>BJIS</i></a></div>-->
       <div><mat-icon class="logo-icon">landscape</mat-icon></div>
       <div class="logo-text"><a href="#"><i>BJIS</i></a></div>
    </div>
    <div class="user-status-container">
        <div class="item-container"><mat-icon>language</mat-icon>Language</div>
        <div class="item-container" routerLink="login"><mat-icon>person</mat-icon>Login</div>
        <div class="item-container-register" routerLink="register">Register</div>

    </div>
</div>
<div class="menu-container">
        <div class="item-container"><mat-icon>account_circle</mat-icon>Account</div>
        <div class="item-container"><mat-icon>info</mat-icon>Pending requests</div>
        <div class="item-container"><mat-icon>calendar_today</mat-icon>My reservations</div>
        <div class="item-container"><mat-icon>library_add</mat-icon>Create accommodation</div>
        <div class="item-container"><mat-icon>update</mat-icon>Update info</div>
        <div class="item-container"><mat-icon>question_answer</mat-icon>Manage requests</div>
</div>
