<div class="container">
    <div class="logo-container">
       <!--<div class="item-container"><a href="#"><mat-icon style=" font-size: 35px;">landscape</mat-icon><i>BJIS</i></a></div>-->
       <div><mat-icon class="logo-icon">landscape</mat-icon></div>
       <div class="logo-text"><a href="#"><i>BJIS</i></a></div>
    </div>
    <div class="user-status-container">
        <div class="item-container"><mat-icon>language</mat-icon>Language</div>
        <div class="item-container" routerLink="login" *ngIf="userExists === 'false'"><mat-icon>person</mat-icon>Login</div>
        <div class="item-container-register" routerLink="register" *ngIf="userExists === 'false'">Register</div>
        <div class="item-container-register" *ngIf="userExists === 'true'" (click)="logout()">Log out</div>

    </div>
</div>
<div class="menu-container">
        <div class="item-container" *ngIf="userExists === 'true'" routerLink="edit"><mat-icon>account_circle</mat-icon>Account</div>
        <div class="item-container" routerLink="accommodations"><mat-icon>hotel</mat-icon>Accommodations</div>
        <div class="item-container" *ngIf="role === 'ROLE_GUEST'"><mat-icon>info</mat-icon>Pending requests</div>
        <div class="item-container" *ngIf="role === 'ROLE_GUEST'" routerLink="guest-reservation"><mat-icon>calendar_today</mat-icon>My reservations</div>
        <div class="item-container" *ngIf="role === 'ROLE_ADMIN'" routerLink="create-accommodation" ><mat-icon>library_add</mat-icon>Create accommodation</div>
        <div class="item-container" *ngIf="role === 'ROLE_ADMIN'"><mat-icon>update</mat-icon>Update info</div>
        <div class="item-container" *ngIf="role === 'ROLE_ADMIN'"><mat-icon>question_answer</mat-icon>Manage requests</div>
        <div class="item-container" *ngIf="role === 'ROLE_GUEST'" routerLink="host-ratings"><mat-icon>grade</mat-icon>Rate hosts</div>
        <div class="item-container" *ngIf="role === 'ROLE_GUEST'" routerLink="visited-accommodations"><mat-icon>grade</mat-icon>Rate accommodations</div>
</div>
