<div class="register-container">
    <div class="form-container">
        <div class="text-container">
            <h2>Make your <i>BJIS</i> account</h2>
        </div>
        <div class="data-container">
            <div class="left-data-container">
                <label class="form-label" for="username">*Name:</label>
                <input matInput class="text-input" type="text" name="name" placeholder="Enter name" id="name" [(ngModel)]="user.name" required>
                <label class="form-label" for="surname">*Surname:</label>
                <input matInput class="text-input" type="text"  name="surname" placeholder="Enter surname" id="surname" [(ngModel)]="user.surname" required>

                <label class="form-label" for="email">*Email:</label>
                <input matInput class="text-input" type="text" name="email" placeholder="Enter email" id="email" [(ngModel)]="user.email" required>
                <label class="form-label" for="username">*Username:</label>
                <input matInput class="text-input" type="text"  name="username" placeholder="Enter username" id="username" [(ngModel)]="user.username" required>

                <label class="form-label" for="password">*Password:</label>
                <input matInput class="text-input" type="password" name="password" placeholder="Enter password" id="password" [(ngModel)]="user.password" required>
                <label class="form-label" for="repeatPass">*Confirm password:</label>
                <input matInput class="text-input" type="password"  name="repeatPass" placeholder="Reenter password" id="repeatPass" required>

            </div>
            <div class="right-data-container">
                <label class="form-label" for="streetNumber">*Street Number:</label>
                <input matInput class="text-input" type="text" name="streetNumber" placeholder="Enter street number" id="streetNumber" [(ngModel)]="address.streetNumber"  required>
                <label class="form-label" for="streetName">*Street Name:</label>
                <input matInput class="text-input" type="text"  name="streetName" placeholder="Enter street name" id="streetName" [(ngModel)]="address.streetName" required>

                <label class="form-label" for="postalCode">*Postal code:</label>
                <input matInput class="text-input" type="text" name="postalCode" placeholder="Enter postal code" id="postalCode" [(ngModel)]="address.postalCode" required>
                <label class="form-label" for="town">*Town:</label>
                <input matInput class="text-input" type="text"  name="town" placeholder="Enter town" id="town" [(ngModel)]="address.town" required>

                <label class="form-label" for="country">*Country:</label>
                <input class="text-input" type="text" name="country" placeholder="Enter country" id="country" [(ngModel)]="address.country" required>

                <label class="form-label">*Register as:</label>
                <select class="select-role" [(ngModel)]="user.role">
                    <option value="HOST">HOST</option>
                    <option value="GUEST">GUEST</option>
                </select>
            </div>

        </div>
        <div class="btn-container">
            <button mat-flat-button type="button" class="signup-btn" (click)="registerUser()">SIGN UP</button>

        </div>
    </div>

</div>